.sellingPrice {
  font-size: 1.25rem;
  font-family: 'SecondaryFont', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.savings {
  display: flex;
  justify-content: center;
  background: var(--primary);
  color: #fff;
  border-radius: var(--borderRadius);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0.03em;
  padding: 0.25rem 0.5rem;
}

.installments {
  font-size: 0.75rem;
}
.installments .currencyContainer {
  font-weight: bold;
}
