.cartIcon {
  width: 24px;
  height: 24px;
}

.drawer {
  z-index: 99999;
}

.minicartQuantityBadgeDefault {
  border-radius: 50%;
}

.openIconContainer {
  padding: 0;
}

.closeIconContainer {
  position: absolute;
  left: 5%;
  top: 0.875rem;
  color: var(--text--muted);
}

.closeIconButton {
  padding: 0;
}

.closeIcon {
  display: block;
  height: 20px;
}

.minicartTitle {
  width: 100%;
  margin: auto;
  padding: 0.8rem 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 700;
  text-align: center;
}

.minicartSideBarContentWrapper {
  border-left: 1px solid #e8e8e8;
}
.minicartProductListContainer {
  padding-left: 0;
  padding-right: 0;
}

.minicartProductListContainer
  :global(.vtex-product-list-0-x-productVariationsItem) {
  font-size: 0.75rem;
  color: #000;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-productPrice) {
  font-size: 0.875rem;
}
.minicartCheckoutButton {
  margin-bottom: 1rem;
}
.minicartCheckoutButton :global(.vtex-button) {
  height: 40px;
  font-weight: bold;
  border-radius: var(--borderRadius--large);
  font-size: 0;
}

.minicartCheckoutButton :global(.vtex-button__label)::after {
 content: "Finalizar Compra";
 letter-spacing: var(--buttonLetterSpacing);
 font-size: 0.75rem;
}

.childrenContainer,
.drawerContent {
  height: 100%;
}

.minicartSideBarContentWrapper {
  min-height: 100%;
}
