.flexRowContent--summary-selling-price {
  margin-bottom: 0.25rem;
  align-items: flex-end;
}
.flexRow--summary-secondary-layer-1,
.flexRow--summary-secondary-layer-2 {
  transition: opacity 0.25s;
}
.flexCol--product-summary-secondary {
  min-height: 40px;
}
.flexRow--summary-secondary-layer-2 {
  opacity: 0;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.flexCol--product-summary-secondary {
  font-size: 0.75rem;
}

.flexRow--summary-productBadges {
  width: 100%;
}

.flexRow--summary-productBadges
  :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  text-align: right;
}
