.wishlistIcon {
  background-image: url(assets/favorite.svg), url(assets/favorite-filled.svg);
  background-size: 24px auto;
  background-repeat: no-repeat;
}

.wishlistIcon.outline {
  background-position: 0 0, 24px 0;
}
.wishlistIcon.fill,
.wishlistIconContainer :global(.vtex-button):hover .wishlistIcon {
  background-position: -24px 0, 0 0;
}

.wishlistIconContainer :global(.vtex-button) {
  min-height: 0;
  height: auto;
  position: relative;
  width: auto;
  min-width: 0;
  border: 0;
}

.wishlistIconContainer :global(.vtex-button):hover {
  background: transparent;
}

.wishlistIconContainer :global(.vtex-button__label) {
  padding: 0 !important;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
