.list--wishlist {
  display: flex;
  flex-wrap: wrap;
}

.item--wishlist {
  padding-bottom: 24px;
}

.item--wishlist:hover :global(.vtex-wish-list-1-x-fill) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 16a2 2 0 0 1-2-2V4h-1a.5.5 0 0 1 0-1h3.3V2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v1H14a.5.5 0 1 1 0 1h-1v10a2 2 0 0 1-2 2Zm-1-2a1 1 0 0 0 1 1H11a1 1 0 0 0 1-1V4H2.4ZM9.7 3.1V2a1 1 0 0 0-1-1h-3a1 1 0 0 0-1 1v1Zm-1.5 8.7V7.2a.5.5 0 0 1 1 0v4.6a.5.5 0 0 1-1 0Zm-3 0V7.2a.5.5 0 0 1 1 0v4.6a.5.5 0 0 1-1 0Z' fill='%23ff6f00'/%3E%3C/svg%3E");
}

.item--wishlist {
  width: 50%;
  padding-right: 8px;
  padding-bottom: 48px;
  margin-bottom: 32px;
}

@media (min-width: 48em) {
  .item--wishlist {
    width: 25%;
    padding-right: 24px;
  }
}

.item--wishlist {
  position: relative;
}

.list--wishlist :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  top: auto;
  right: 0;
  display: inline-block;
  margin: 0;
  text-align: center;
}

.list--wishlist :global(.vtex-product-summary-2-x-element) {
  overflow: visible;
}

@media (max-width: 63.99em) {
  .list--wishlist :global(.vtex-flex-layout-0-x-flexRowContent--summary-name) {
    display: block;
  }
}
